div{
    height: 100px;
    width: 100px;
    background-image: url("image.jpg");
    background-size: cover;
    color: yellow;
    border-radius: 10px;
    position: fixed;
    top: 50px;
    right: 0px;
}
