/* body{
    text-align: center;
}

div{
    height: 50px;
    width: 150px;
    display: inline-block;
    border: 2px solid black;
}

#container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
}

#box1{
    background-color: aqua;
}

#box2{
    background-color: pink;
    height: 200px;
}

#box3{
    background-color: darkkhaki;
}

#box4{
    background-color: indianred;
}

#box5{
    background-color: slateblue;
} */
/* 
.navbar {
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
    background-color: rgb(185, 124, 243);
} */

/* .outer{
    height: 400px;
    width: 400px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{
    height: 100px;
    width: 100px;
    background-color: rgb(3, 41, 112);
} */

div{
    height: 100px;
    width: 100px;
    background-color: pink;
}

@media (max-width: 300px){
    div {
        background-color: green;
    }
}

@media (min-width: 300px) and (max-width: 400px) {
    div {
        background-color: pink;
    }
}

@media (min-width: 400px) and (max-width: 600px) {
    div {
        background-color: red;
    }
}

@media (min-width : 600px){
    div {
        background-color: blue;
    }
}
