h1{
    height: 50px;
    width: 200px;
    background-color: rgb(255, 177, 43);
    text-align: center;
    /* border-style: dotted;
    border-color: rgb(100, 66, 2);
    border-width: 5px; */
    border-radius: 10px;
    border: 5px dotted rgb(100, 66, 2);
}
#box1{
    height : 150px;
    width : 100px;
    background-color : rgba(0, 0, 255, 0.5);
    /* border-style: dotted;
    border-width: 5px;
    border-color: red; */
    border-radius: 10%;
    border: 5px dotted rgba(0, 0, 255, 1);
    text-align:center;
    margin-bottom: 25px;
    margin-top: 25px;
}
#circle1{
    height : 100px;
    width : 100px;
    background-color : pink;
    font-family:'Gill Sans';
    font-size: 7px;
    /* border-style: dotted;
    border-width: 5px;
    border-color: red; */
    border-radius: 50%;
    border: 5px dotted red;
    text-align:center;
    padding: 7px;

}
#trafficlight{
    width: 75px;
    height: 200px;
    background-color: black;
    padding-top: 15px;
    margin-top: 25px;
    margin-left: 25px;
}
#green{
    width: 50px;
    height: 50px;
    background-color: green;
    border-radius: 50%;
    margin-left: 12.5px;
}
#yellow{
    width: 50px;
    height: 50px;
    background-color: yellow;
    border-radius: 50%;
    margin-top: 12.5px;
    margin-left: 12.5px;
}
#red{
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    margin-top: 12.5px;
    margin-left: 12.5px;
}

#amazontoolbar{
    height: 60px;
    background-color: #0f1111;
    margin-top: 25px;
}
a{
    margin-right: 200px;
    color: white;
}
button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
    font-size: 25px;

}
